body {
    margin: 0;
}

img {
    width: 100%;
    display: block;
    height: 100vh;
    position: relative;
    object-fit: contain;
}

.tile-1 {
    height: 200vh;
    pointer-events: none;
}

.inner-1 {
    height: 100vh;
    position: sticky;
    top: 0;
    object-fit: contain;
    background: white;
}

.tile-2 {
    margin-top: -100vh;
    background: black;

}

.tile-3 {
    background: black;
}