:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.slider {
  height: var(--height);
  margin: 40px 0;
  mask-image: linear-gradient(
    to right,
    transparent,
    #000 20% 80%,
    transparent
    );
  width: 100%;
}

.slider .slider-list {
  display: flex;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}

.slider .slider-list .slide-item {
  width: var(--width);
  height: var(--height);
  left: 100%;
  position: absolute;
  animation: autoRun 10s linear infinite;
  animation-delay: calc((10s / var(--quantity)) * (var(--position) - 1 )) !important;
  transition: filter 0.5s;
}

.slider[reverse="true"] .slide-item {
  animation: autoRunReverse 12s linear infinite;
  animation-delay: calc((12s / var(--quantity)) * (var(--position) - 1)) !important;
}

.slider .slider-list .slide-item  .slide-img {
  width: 100%;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1)
  }
}

@keyframes autoRunReverse {
  from {
    left: calc(var(--width) * -1);
  }

  to {
    left: 100%;
  }
}

.slider:hover .slide-item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

.slider .slide-item:hover {
  filter: grayscale(0);
}


.slide-text {
  font-size: 330px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  
}

.banner {
  background-color: orange;
}

.skinney-text {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}