* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

p {
    margin: 0;
}


.tsw-parallax-wrapper {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 300;

    .tsw-intro {
        background-color: cyan;
        height: 100vh;
    }

    .tsw-exit {
        background-color: rgb(200, 248, 129);
        height: 100vh;
    }

    .tsw-text-content {
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            font-size: 100px;
            color: aliceblue;
        } 
    }
    
    .tsw-parallax-group {
        position: relative;
        height: 100vh;
        transform-style: preserve-3d;
    }

    .tsw-parallax-layer {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &.base-layer {
            transform: translateZ(-300px);
        }
    }
    
    #intro {

    }

    #group1 {
        .base-layer {
            background-color: crimson;
        }
    }

    #group2 {
        .mid-layer {
            background-color: cadetblue;
        }
    }

    #exit {

    }
}

